# Dependency directories
node_modules/
.venv/
env/
venv/
ENV/
bin/
obj/
dist/
.angular/

# IDE and System files
.vscode/
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db

# OpenH264 DLL
openh264-*.dll

# Environment variables
.env
*.env

# Python cache
__pycache__/
*.pyc


